.title{
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 25%;
}

.description{
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 5%;
}